/* Source - https://stackoverflow.com/q/55504715
Posted by hello
Retrieved 2026-02-09, License - CC BY-SA 4.0 */
.lock-screen {
  background: url(../resources/lockscreen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 100vh;
  margin: 0;
  transition: transform 0.5s;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: clamp(8px, 5vw, 16px) clamp(32px, 5vh, 64px);
  flex-direction: column;
}

.lock-screen-date {
  font-size: clamp(2em, 5vw, 4em);
}

.lock-screen-time {
  font-size: clamp(3em, 10vw, 7em);
}

.lock-screen-unlocked {
  transform: translateY(-100vh);
}
