.login-screen {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: var(--bg-window);
  backdrop-filter: blur(10px);
  transition: visibility 0s 4s;
  visibility: visible;
}

.login-screen-remove {
  visibility: hidden;
}

.login-form,
.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.profile-picture {
  width: 20%;
  clip-path: circle();
}

.login-field-label,
.welcome-message {
  color: var(--text-base);
  font: bold;
  text-align: center;
  font-size: 1.25rem;
}

#login-field {
  display: block;
  font-size: 1.25rem;
}

#login-field:focus {
  outline: 1px solid var(--accent);
}

/* Soure: https://css-loaders.com/spinner/ */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--text-base);
  --_m:
    conic-gradient(#0000 10%, var(--text-base)),
    linear-gradient(var(--text-base) 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

#login-button {
  background-color: var(--button);
  border: none;
  color: var(--text-base);
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 16px;
}
