.settings-window {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  align-items: flex-start;
}

.settings-theme-select {
  padding: 8px 12px;
  border: 1px solid var(--text-base);
  background-color: var(--bg-window);
  color: var(--text-base);
  cursor: pointer;
}

.settings-theme-select:focus {
  outline: none;
}

.settings-theme-select-option {
  background-color: var(--bg-window);
  color: var(--text-base);
}

.settings-heading {
  color: var(--text-base);
}

.settings-theme-preview-text {
  margin-top: 16px;
  font-weight: bold;
  color: var(--text-base);
}

.settings-theme-preview {
  width: auto;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  content: var(--theme-preview-url);
  display: block;
  align-self: flex-start;
  object-position: 50% 0;
}

.settings-theme-preview {
  flex: 1;
  min-height: 0;
}
