.shortcuts {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
}

.shortcut {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin: 8px;
  z-index: 1;
  border-radius: 4px;
}

.shortcut:hover {
  background-color: var(--hover-bg);
}

.shortcut-icon {
  width: 32px;
}

.shortcut-text {
  font-size: 0.75rem;
  color: var(--text-base);
}
