.taskbar {
  background-color: var(--terminal-color-base);
  display: flex;
  align-items: center;
  width: 100vw;
  height: 32px;
  bottom: 0;
  position: fixed;
}

.taskbar-icon {
  color: var(--text-color-base);
  font-size: 16px;
}

.taskbar-icons-right {
  margin-left: auto;
  margin-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

/* Source: https://www.w3schools.com/css/css_dropdowns.asp */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown button */
.dropdown-button {
  border: none;
  background-color: transparent;
  color: var(--text-color-base);
  border: none;
  cursor: pointer;
  height: 100%;
  padding: 0 16px;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--terminal-color-base);
  min-width: 200px;
  z-index: 9999;
}

/* Links inside dropdown content */
.dropdown-item {
  color: var(--text-color-base);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-item:hover {
  background-color: #e3e3e3; /* TODO */
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropdown-button {
  background-color: #e3e3e3; /* TODO */
}

.taskbar-windows {
  display: flex;
  height: 100%;
  margin: 0 16px;
  gap: 4px;
}

.taskbar-window {
  background-color: #333; /* TODO */
  border-left: 1px solid #333; /* TODO */
  border-right: 1px solid #333; /* TODO */
  height: 100%;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 8px;
  transform: translateY(100%);
  transition:
    transform 0.25s ease,
    background-color 0.125s 0.25s;
}

.taskbar-window-text {
  color: var(--text-color-base);
}

.taskbar-window-icon {
  height: 8px;
}

.taskbar-window-opened {
  transform: translateY(0);
  background-color: #333; /* TODO */
}

.taskbar-window-closed {
  transform: translateY(100%);
  background-color: transparent;
}

.taskbar-window-minimised {
  background-color: transparent;
}

.taskbar-time {
  color: var(--text-color-base);
}
