.taskbar {
  background-color: var(--bg-titlebar);
  display: flex;
  align-items: center;
  width: 100vw;
  height: 32px;
  bottom: 0;
  position: fixed;
}

.taskbar-icon {
  color: var(--text-base);
  font-size: 16px;
}

.taskbar-icons-right {
  margin-left: auto;
  margin-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

/* Source: https://www.w3schools.com/css/css_dropdowns.asp */
.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-base);
  cursor: pointer;
  padding: 0 16px;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--bg-titlebar);
  min-width: 200px;
  z-index: 9999;
}

.dropdown-item {
  color: var(--text-base);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--hover-bg);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: var(--hover-bg);
}

.taskbar-windows {
  display: flex;
  height: 100%;
  margin: 0 16px;
  gap: 4px;
}

.taskbar-window {
  background-color: var(--bg-titlebar);
  border-left: 1px solid var(--bg-titlebar);
  border-right: 1px solid var(--bg-titlebar);
  height: 100%;
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 8px;
  transform: translateY(100%);
  transition:
    transform 0.125s ease,
    background-color 0.125s;
}

.taskbar-window-text {
  color: var(--text-base);
}

.taskbar-window-icon {
  height: 75%;
}

.taskbar-window-opened {
  transform: translateY(0);
  background-color: var(--hover-bg);
}

.taskbar-window-closed {
  transform: translateY(100%);
  background-color: transparent;
}

.taskbar-window-minimised {
  background-color: transparent;
}

.taskbar-time {
  color: var(--text-base);
}
