* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  --text-color-base: green;
  --terminal-color-base: #0f0f0f;
}

/* Source - https://stackoverflow.com/q/55504715
Posted by hello
Retrieved 2026-02-09, License - CC BY-SA 4.0 */
.os-bootup {
  background: #020024;
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 100vh;
  margin: 0;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  gap: 16px;
}

.open {
  transform: translateY(-100vh);
}

.os-login {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: oklch(from var(--terminal-color-base) l c h / 0.65);
  backdrop-filter: blur(10px);
  transition: visibility 0s 4s;
  visibility: visible;
}

.remove {
  visibility: hidden;
}

.os-login-form,
.os-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pfp {
  width: 20%;
  clip-path: circle();
}

.login-field-label,
.welcome-message {
  color: white;
  font: bold;
  text-align: center;
}

#login-field {
  display: block;
}

/* Soure: https://css-loaders.com/spinner/ */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

#login-button {
  background-color: blue;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
}

.desktop {
  height: 100vh;
  width: 100vw;
  background-image: url("resources/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shortcut {
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 1;
}

.shortcut-icon {
  width: 32px;
}

.shortcut-text {
  font-size: 0.75rem;
  color: white; /* TODO */
}

.terminal {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-rows: 5% 1fr;
  z-index: 3;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition:
    opacity 0.125s,
    transform 0.125s;
}

.open-window {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.close-window {
  opacity: 0;
  transform: scale(0);
}

.terminal-header {
  background-color: var(--terminal-color-base);
  border: 0px solid oklch(from var(--terminal-color-base) calc(l * 0.5) c h);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.terminal-window {
  background-color: oklch(from var(--terminal-color-base) l c h / 0.65);
  backdrop-filter: blur(10px);
  border: 0px solid oklch(from var(--terminal-color-base) calc(l * 0.5) c h);
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  width: 100%;
  overflow: auto;
}

.header-text {
  font-family: sans-serif;
}

.close-icon {
  margin-left: auto;
}

.close-icon,
.header-text {
  color: rgb(150, 150, 150); /* TODO */
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: oklch(from var(--terminal-color-base) calc(l * 2.5) c h);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(from var(--terminal-color-base) calc(l * 3) c h);
}

.terminal-line,
#input-line-field,
.input-line-indicator {
  color: var(--text-color-base);
  position: relative;
  z-index: 4;
  text-shadow: 0px 0px 4px var(--text-color-base);
  font-weight: bold;
  font-family: monospace;
  white-space: pre-wrap;
}

.input-line {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 0.5em;
  caret-shape: block;
}

#input-line-field {
  background-color: transparent;
  border: none;
  flex-grow: 1;
}

#input-line-field:focus {
  outline: none;
}

.taskbar {
  background-color: black;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 32px;
  bottom: 0;
  position: fixed;
}

.icons-right > span,
.icons-left > span {
  color: white;
  font-size: 16px;
}

.icons-left {
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.icons-right {
  margin-left: auto;
  margin-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.taskbar-tray {
  background-color: #333;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  margin-left: 16px;
  transform: translateY(100%);
  transition:
    transform 0.25s,
    background-color 0.125s 0.25s;
}

.taskbar-tray > img {
  height: 75%;
}

.off-tray {
  transform: translateY(100%);
  background-color: transparent;
}

.on-tray {
  transform: translateY(0);
  background-color: #333;
}
