* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  --text-color-base: green;
  --terminal-color-base: #0f0f0f;
}

.desktop {
  height: 100vh;
  width: 100vw;
  background-image: url("resources/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shortcut {
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 1;
}

.shortcut-icon {
  width: 100%;
}

.shortcut-text {
  font-size: 0.75rem;
  color: white; /* TODO */
}

.terminal {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-rows: 5% 1fr;
  z-index: 3;
}

.terminal-header {
  background-color: var(--terminal-color-base);
  border: 0px solid oklch(from var(--terminal-color-base) calc(l * 0.5) c h);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.terminal-window {
  background-color: oklch(from var(--terminal-color-base) l c h / 0.65);
  backdrop-filter: blur(10px);
  border: 0px solid oklch(from var(--terminal-color-base) calc(l * 0.5) c h);
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  width: 100%;
  overflow: auto;
}

.header-text {
  font-family: sans-serif;
}

.close-icon {
  margin-left: auto;
}

.close-icon,
.header-text {
  color: rgb(150, 150, 150); /* TODO */
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: oklch(from var(--terminal-color-base) calc(l * 2.5) c h);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(from var(--terminal-color-base) calc(l * 3) c h);
}

.terminal-line,
#input-line-field,
.input-line-indicator {
  color: var(--text-color-base);
  position: relative;
  z-index: 4;
  text-shadow: 0px 0px 4px var(--text-color-base);
  font-weight: bold;
  font-family: monospace;
  white-space: pre-wrap;
}

.input-line {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 0.5em;
  caret-shape: block;
}

#input-line-field {
  background-color: transparent;
  border: none;
  flex-grow: 1;
}

#input-line-field:focus {
  outline: none;
}
